.img{
    margin:5px auto;
    border-radius:5px;
    border: 1px solid #999;
    padding:13px;
    width: 1280px;
    height: 720px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background:url('../img/fondo.jpg');
    background-size: cover;
    }
  .img img{
    width: 100%;
  }
  @media all and (min-width: 775px) and (max-width: 1700px)
  {  
  .img{
    margin:5px auto;
    border-radius:5px;
    border: 1px solid #999;
    padding:13px;
    width: 1700px;
    height:775px;;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background:url('../img/fondo.jpg');
    background-size: cover;
    
    }
  }
  .img img{
     width:100%;
  }